apify_client==1.7.0
apify_shared==1.1.2
ipykernel
crewai==0.35.8
crewai-tools==0.4.6
langchain==0.1.20
langchain-anthropic==0.1.11
langchain-cohere==0.1.5
langchain-community==0.0.38
langchain-core==0.1.52
langchain-experimental==0.0.58
langchain-google-community==1.0.4
langchain-google-community[places]
langchain-groq==0.1.5
langchain-openai==0.1.7
langchain-text-splitters==0.0.2
langchainhub==0.1.15
langdetect==1.0.9
langsmith==0.1.83
unstructured==0.14.9
gradio

